@keyframes show{
    0%{
        opacity: 0;    
    }
    100%{
        opacity: 1;  
    }
}
.formWrap{
    animation: show 0.5s;
    margin: 0 auto;
    width: 400px;
}
@keyframes showErr{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.errMesage{
    background: rgb(252, 193, 205);
    font-style: oblique;
    font-size: 12px;
    display: inline-block;
    text-align: center;
    padding: 3px;
    margin: 0 calc(50% - 200px) 5px;
    width: 400px;
    animation: showErr 0.5s;
    color: rgb(80, 80, 80);
}