.header{
  background: rgb(255, 242, 182);
  height: 70px;
  text-align: center;
  line-height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0 8px 1px rgb(255, 242, 182);
  .heading{
    color: #525252;
  }
  .logOut{
    font-size: 10px;
    display: inline-block;
    position: absolute;
    color: rgb(167, 167, 167);
    top: 0;
    right: 3px;
    height: 15px;
    line-height: 15px;
    cursor: pointer;
    &:hover{
      font-weight: 300;
      font-size: 11px;
      right: 1px;
      top: 1px;
      color: #3d3d3d;
      transition: 0.1s ease all;
    }
  }
}