*{
    box-sizing: border-box;
}
@keyframes shomHide {
    0% {
        margin-left: 25px;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }     
}

.inputDefaultWrap{   
    height: 35px;    
    margin: 5px 0;
    .inputDefault{
        width: 100%;
        height: 100%;
        border: none;
        outline: none;        
        padding: 0 5px;
    };
    .errorField{
        animation:  shomHide 0.5s;
        display: inline-block;
        height: 25px;
        line-height: 25px;
        font-size: 12px;
        padding: 0 5px 0 0;        
        color: rgb(180, 80, 80);
        font-style: italic;
        box-shadow: 0 0 2px red;
        border-radius: 3px;
        background: #fff;
        position: relative;
        left: calc(100% + 15px);
        top: -31px;     
        &::before{
            content: '';
            display: inline-block;
            border-style: solid;
            position: relative;
            right: 8px;
            top: 0px;
            border-width: 3px 0 3px 8px;
            transform: rotate(180deg);
            border-color: transparent transparent transparent rgb(180, 80, 80);
        }   
    }    
};
